# Typical Python and project ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
*.iml
